.converters-list {
  .box-title {
    display: block;
    h1 {
      text-align: center;
    }
  }
}

.converter-create {
  .box-title {
    display: block;
    h1 {
      text-align: center;
    }
  }
}